@font-face {
    font-family: 'coustardregular';
    src: url('fonts/coustard/coustard-regular-webfont.eot');
    src: url('fonts/coustard/coustard-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/coustard/coustard-regular-webfont.woff') format('woff'),
         url('fonts/coustard/coustard-regular-webfont.ttf') format('truetype'),
         url('fonts/coustard/coustard-regular-webfont.svg#coustardregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.nav > li ul{top:30px!important;}
.sub-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}
.nav > li:hover> ul{display:block;}
.nav > li li:hover> ul{display:block;}
.navbar .nav>li>.sub-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
}
.navbar .nav>li>.sub-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 10px;
}
.sub-menu>li>a:hover, .sub-menu>li>a:focus, .sub-menu>li.current-menu-item>a{
    text-decoration: none;
    color: #ffffff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}
.sub-menu>.active>a, .sub-menu>.active>a:hover, .sub-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}


.widget_home_left,.widget_home_right,.widget_page_right{margin-bottom:20px;}
.widget_nav_menu,#text-6,#text-8,#text-4, #tribe-events-list-widget-2{
	    border: 0px solid #f7f7f7;
    background-position: center 36px;
    background-repeat: no-repeat;
}
.wpcf7 textarea{min-height:100px;}
.widget_text .wpcf7{padding:8px;}
.widget_text textarea{min-height:100px;}
.widget_text .wpcf7-list-item-label, .agree .wpcf7-list-item-label {display:none;}
.widget_text .subscribe .wpcf7-list-item-label {display:inline-block;}
.widget_text a {text-decoration: underline;color: #cb9c44;}
.widget_text input[type="submit"] {width:100%;}
.widget_text span.wpcf7-list-item {margin-left: 0;margin-right: 0.5em;}

#tribe-events-list-widget-2 ol{padding:0; margin:0;}
#tribe-events-list-widget-2 ol li {
	border-bottom:1px solid #c7974a;
	padding: 7px 10px 4px 25px;
    background: url(images/event_clock.png) no-repeat 6px 9px;
}
#tribe-events-list-widget-2 ol li h4, #tribe-events-list-widget-2 ol li a, #tribe-events-list-widget-2 ol li .tribe-event-duration {
    font-family: "Arial";
    color: #000!important;
    font-size: 12px;
	line-height:normal;
	margin:0;
}
#tribe-events-list-widget-2 .tribe-events-widget-link, #tribe-events-list-widget-2 .tribe-events-widget-link a{
    font-family: "Arial";
    color: #000!important;
    font-size: 12px;
	line-height:normal;
	text-align:center;
}

.widget_nav_menu ul{
    list-style-image: url(images/check.png);
    margin: 0 0 0 16px;
}
.widget_nav_menu ul ul{display:none;}
.widget_nav_menu ul li {
    font-size: 14px;
    background: url(images/lefthrline.jpg) no-repeat center bottom;
    padding: 2px 0;
}
.widget_nav_menu ul li a, .widget_nav_menu ul li a:link, .widget_nav_menu ul li a:active, .widget_nav_menu ul li a:visited {
    color: #000;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 0;
    font-family: lato-regular;
    font-size: 15px;
}
.highslide img {cursor: url(images/zoomin.cur), pointer !important;}
.highslide-viewport-size {position: fixed; width: 100%; height: 100%; left: 0; top: 0}

.terms_search .span4{display: inline-block!important;    float: none!important;    margin-left: 1%!important;    vertical-align: top;}

.gallery_hide .text_gallery{display:none;}

/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
     max-width: 100%; /* When images are too wide for containing element, force them to fit. */
     height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
     display: inline;
     float: left;
     margin-right: 24px;
     margin-top: 4px;
}
.alignright,
img.alignright {
     display: inline;
     float: right;
     margin-left: 24px;
     margin-top: 4px;
}
.aligncenter,
img.aligncenter {
     clear: both;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
     margin-bottom: 12px;
}
.wp-caption {
     background: #f1f1f1;
     line-height: 18px;
     margin-bottom: 20px;
     max-width: 632px !important; /* prevent too-wide images from breaking layout */
     padding: 4px;
     text-align: center;
}
.wp-caption img {
     margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
     color: #888;
     font-size: 12px;
     margin: 5px;
}
.wp-smiley {
     margin: 0;
}
.gallery {
     margin: 0 auto 18px;
}
.gallery .gallery-item {
     float: left;
     margin-top: 0;
     text-align: center;
     width: 33%;
}
.gallery-columns-2 .gallery-item {
     width: 50%;
}
.gallery-columns-4 .gallery-item {
     width: 25%;
}
.gallery img {
     border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
     max-width: 92%;
     height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
     max-width: 84%;
     height: auto;
}
.gallery .gallery-caption {
     color: #888;
     font-size: 12px;
     margin: 0 0 12px;
}
.gallery dl {
     margin: 0;
}
.gallery img {
     border: 10px solid #f1f1f1;
}
.gallery br+br {
     display: none;
}
.nav-collapse .menu-item-has-children .op{display:none;}

@media (max-width: 1150px){
.navbar{position:initial!important;}
.nav-collapse, .nav-collapse.collapse {
    display:none;
    height: auto!important;
	width: 100%;
}
.nav > li ul{
	position: initial!important;
	padding: 0!important;
	background: none!important;
	border:none!important;
}



.nav > li:hover> ul{display:none;}
.nav > li li:hover> ul{display:none;}
.navbar .nav>li>.sub-menu:before{display:none;}
.nav > li > ul li:hover{background: none!important;}
.nav-collapse .nav > li a, .nav-collapse .dropdown-menu a{
	    text-decoration: none;
    font-family: Lato-Regular;
    font-size: 13px;
    text-transform: uppercase;
	    font-weight: bold;
    color: #fff;
}
.nav-collapse .menu-item-has-children .op{
	padding:0;
	border: none!important;
    background-image: url(images/glyphicons-halflings-white.png);
    background-color: #333;
    background-position: -305px -110px!important;
    width: 30px!important;
    line-height: 30px!important;
    min-height: 30px!important;
    height: auto;
    display: inline-block;
    margin: 0!important;
    border-radius: 3px;
	position:absolute;
	    right: 3px;
    top: 1px;
	cursor:pointer;
}
}

